## Contact info scraper (public service)

In [3]:
#==== import needed libs ====#
from dateutil.relativedelta import relativedelta
import matplotlib.pyplot as plt
from matplotlib import pyplot
import pandas as pd
import numpy as np
import datetime
import requests
import lxml
import time
import csv
import io
### Keras ====================#
from keras.layers import Dense
from keras.models import Sequential
### SKLearn ==================#
from sklearn import tree
from sklearn import metrics
from sklearn.tree import export_graphviz
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, ShuffleSplit, KFold, cross_validate, LeaveOneOut

ModuleNotFoundError: No module named 'matplotlib'

In [5]:
#==== import needed libs ====#
from dateutil.relativedelta import relativedelta
import pandas as pd
import numpy as np
import datetime
import requests
import time
import csv
import io

In [6]:
df2 = pd.read_csv('cpa.csv')

In [12]:
df2.head()

               name                         cert
0        ALIAN, AMR  Certified Public Accountant
1  ALLWORTH, MELODY  Certified Public Accountant
2    AMOUZOU, YAO L  Certified Public Accountant
3   ANDERSON, DAVID  Certified Public Accountant
4   BALAGTAS, KERRY  Certified Public Accountant

In [11]:
# df2.drop(['dist'], axis=1, inplace=True)
df2.to_csv("cpa2.csv")